[ ca ]
default_ca = myCA

[ myCA ]
dir = ./
certs = $dir
new_certs_dir = $dir/newcerts
database = $dir/myCAindex
serial = $dir/myCAserial
certificate = $dir/myCA.crt
private_key = $dir/myCA.key
default_startdate = 20220101000000Z
default_enddate = 20300101000000Z
default_md = sha256
preserve = no
policy = myCA_policy

[ myCA_policy ]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = optional
emailAddress = optional
